* {
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}

.section {
  background-color: #f9f9ff;
  padding: 60px 40px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.list {
  display: flex;
  justify-content: space-between;
}
.item {
  width: 24%;
  height: 80px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.item img {
  width: 80px;
  height: 80px;
  background-color: #fff;
  object-fit: cover;
  border-radius: 16px;
}

.inner-content {
  padding-left: 10px;
}
.item a {
  color: black;
  text-decoration: none;
  text-align: center;
}
.inner-title {
  color: black;
  text-decoration: none;
  text-align: center;
  margin-bottom: 6px;
}
