@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Be Vietnam Pro", sans-serif;
  color: white;
  box-sizing: border-box;
}

body {
  margin: 0;
}
.header {
  height: 80px;
  padding: 10px;
  background-color: #0a033c;
}
.container {
  width: 1180px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  height: 56px;
  width: auto;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding-left: 0px;
}
.menu li {
  margin-inline: 15px;
  font-size: 16px;
  font-weight: 700;
}
.contact {
  font-size: 16px;
  font-weight: 500;
  color: black;
  padding: 8px 30px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
}

.menu li:hover {
  color: #00adef;
}

.header button:hover {
  background-color: #00adef;
  color: #fff;
}
